:root {
    -animationDuration: 0.5;
}

*{
    padding: 0;
    margin: 0;
}

/* on hover efect */

 body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.metalorianLogo {
    width: 270px;
    height: 225px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metalorianLogo div {
    border:  .1px solid #fff;
}

.d1 {
    width: 14%;
    height: 30%;
    clip-path: polygon(100% 0, 100% 100%, 50% 75%, 0 100%, 0 0);
    background: #272727;
    position: absolute;
    bottom: 0;
    transition: all 0.1s linear;
    transition-delay: 0s;
}

.metalorianLogo:hover .d1{
    transition-delay: 0.2s;
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    background: #000;
    border: none;
    width: 20%;
}

.d2 {
    height: 30%;
    width: 30%;
    position: absolute;
    background: #000;
    left: 13%;
    bottom: 0;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 0);
    transition: all 0.1s linear;
    transition-delay: 0s;
}

.metalorianLogo:hover .d2 {
    clip-path: polygon(37.5% 0, 100% 0, 100% 100%, 0% 100%);
    border: none;
    transition-delay: 0.2s;
    width: 40%;
    left: 0;
}

.d3 {
    height: 30%;
    width: 30%;
    position: absolute;
    background: #000;
    right: 13%;
    bottom: 0;
    clip-path: polygon(0 0, 51% 0, 100% 0, 0% 100%);
    transition: all 0.1s linear;
    transition-delay: 0s;
}

.metalorianLogo:hover .d3 {
    transition-delay: 0.2s;
    clip-path: polygon(0 0, 62.5% 0, 100% 100%, 0% 100%);
    border: none;
    width: 40%;
    right: 0;
}

/* punta del triangulo */

.d4 {
    width: 70%;
    height: 70%;
    background: #000;
    position: absolute;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    bottom: 30%;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    transform: rotate3d( 1, 0, 0, 100deg );
    z-index: -1;
    transition: all 0.1s linear;
    transition-delay: 0s;
}

.metalorianLogo:hover .d4 {
    transform: rotate3d( 1, 0, 0, 0deg);
    border: none;
    transition-delay: 0.2s;
} 

/* cuadrados del medio */

.d5 {
    height: 30%;
    width: 15%;
    position: absolute;
    right: 13%;
    bottom: 30%;
    background: #272727;
    z-index: -1;
    transform-origin: center bottom;
    transition: all 0.1s linear;
    transition-delay: 0.1s;
}

.metalorianLogo:hover .d5 {
    transform: rotate3d( 1, 0, 0, 90deg);
    border: none;
} 

.d6 {
    height: 30%;
    width: 15%;
    position: absolute;
    left: 13%;
    bottom: 30%;
    background: #272727;
    z-index: -1;
    transition: all 1s;
    animation: delay 1s;
    transform-origin: center bottom;
    transition: all 0.1s linear;
    transition-delay: 0.1s;
}

.metalorianLogo:hover .d6 {
    transform: rotate3d( 1, 0, 0, 90deg);
    border: none;
}

/* triangulos del medio */

.d6::before {
    content: '';
    height: 100%;
    width: 200%;
    position: absolute;
    background: #000;
    clip-path: polygon(0 50%, 0 0, 100% 100%, 0% 100%);
    transition: all 0.1s linear;
    transform-origin: center bottom;
    border: .1px solid #fff;
    transition-delay: 0.2s;
}

.d5::before {
    content: '';
    height: 100%;
    width: 200%;
    position: absolute;
    background: #000;
    transition: clip-path 1s ;
    right: 0;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    transition: all 0.1s linear;
    transform-origin: center bottom;
    border: .1px solid #fff;
    transition-delay: 0.2s;
}

/* triangulos superiores */

.d5::after {
    content: '';
    height: 100%;
    width: 200%;
    position: absolute;
    background: #000;
    clip-path: polygon(0 50%, 0 0, 100% 100%, 0% 100%);
    transition: all 0.1s linear;
    bottom: 100%;
    right: 0;
    transform-origin: center bottom;
    border: .1px solid #fff;
    transition-delay: 0.2s;
}

.metalorianLogo:hover .d5::after {
    transform: rotate3d( 1, 0, 0, 180deg);
    border: none;
    transition-delay: 0s;
} 

.d6::after {
    content: '';
    height: 100%;
    width: 200%;
    position: absolute;
    background: #000;
    transition: clip-path 1s ;
    bottom: 100%;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    transition: all 0.1s linear;
    transform-origin: center bottom;
    border: .1px solid #fff;
    transition-delay: 0.2s;
}

.metalorianLogo:hover .d6::after {
    transform: rotate3d( 1, 0, 0, 180deg);
    border: none;
    transition-delay: 0s;
}

.guia {
    position: absolute;
    background: red;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: -1;
}
